<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  </head>
  <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">WebSiteName</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/"><%= home  %></a></li>
              <li><a href="/galery"><%= galery  %></a></li>
              <li><a href="/register"><%= register  %></a></li>
              <li><a href="/login"><%= login  %></a></li>
            </ul>
          </div>
        </nav>

        <div class="container">

            <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">Thumbnail Gallery</h1>
          
            <hr class="mt-2 mb-5">
          
            <div class="row text-center text-lg-left">
          
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link1 %>' alt="">
                    </a>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link2 %>' alt="">
                    </a>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link3 %>' alt="">
                    </a>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link4 %>' alt="">
                    </a>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link5 %>' alt="">
                    </a>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link6 %>' alt="">
                    </a>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link7 %>' alt="">
                    </a>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link8 %>' alt="">
                    </a>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link9 %>' alt="">
                    </a>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link10 %>' alt="">
                    </a>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link11 %>' alt="">
                    </a>
              </div>
              <div class="col-lg-3 col-md-4 col-6">
                <a href="#" class="d-block mb-4 h-100">
                      <img class="img-fluid img-thumbnail" src='<%= links.link12 %>' alt="">
                    </a>
              </div>
            </div>
          
          </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </body>
</html>
